<!-- body container starts -->
<article>
    <!-- trade section starts -->
    <section class="search_section">
        <%= form_tag search_result_search_index_path, :remote => :true do %>
            <div id="search_form">
              <%= text_field_tag :item_id ,'',placeholder: 'Search By Item-Id:' %>
                <span class="or_bg"></span>
              <%= text_field_tag :item_name,'',placeholder: 'Search By Item-name:'  %>
                <%= submit_tag "Search" %>
            </div>         
        <% end %>
    </section>
    <!-- trade section ends -->    
</article>
<!-- body container ends -->