/************************************************************************************
RESET
*************************************************************************************/
/*html{
overflow-y:scroll!important;
}*/
html{
overflow-y:scroll!important;
}

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
	display: none;
}
/************************************************************************************
GENERAL STYLING
*************************************************************************************/
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	padding:0;
	font:normal 12px/20px Arial, Helvetica, sans-serif;
	color: #444444;
	background:url(bg.png) repeat 0 0;
}
a {
	color:#444444;
	text-decoration: none;
	outline:none;
}
a:hover {
	color:#444444;
}
a:focus {
	color:#444444;
}
li, ul {
	list-style-type:none;
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	max-width: 100%;
	vertical-align: middle;
	border:none;
	-ms-interpolation-mode: bicubic;
	outline:none;
}
#map_canvas img {
	max-width: none;
}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button, input {
 *overflow: visible;
	line-height: normal;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	background-color:#444444;
	color:#bbbbbb;
	text-shadow:1px 1px #000;
	height:32px;
	line-height:32px;
	padding:0 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #444444;
	font-size:15px;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	color:#fff;
}
input[type="text"], input[type="password"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
	background-color:#fff;
	border:1px solid #dedede;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:32px;
	line-height:32px;
	font-size:15px;
	color:#bbb;
	outline:none;
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
	background-color:#fff;
	border:1px solid #dedede;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:32px;
	line-height:32px;
	font-size:15px;
	color:#bbb;
	padding:0 5px;
	outline:none;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
p {
	margin: 0 0 9px;
	color: #676563;
}
h1 {
	margin: 0;
	padding:0 0 5px 0;
	font-family: 'mondabold';
	line-height:24px;
	font-size:18px;
	font-weight:normal;
}
h2, h3, h4, h5, h6 {
	margin: 0;
	padding:0 0 5px 0;
	line-height:18px;
	font-size:14px;
	font-weight:normal;
}
ul, ol {
	padding: 0;
	margin: 0;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li {
	line-height: 18px;
}
dl {
	margin-bottom: 18px;
}
dt, dd {
	line-height: 18px;
}
dt {
	font-weight: bold;
	line-height: 17px;
}
dd {
	margin-left: 9px;
}
.dl-horizontal dt {
	float: left;
	width: 120px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 130px;
}
hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.muted {
	color: #999999;
}
form {
	margin: 0 0 18px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
legend small {
	font-size: 13.5px;
	color: #999999;
}
label, input, button, select, textarea {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	font-family:Arial, Helvetica, sans-serif;
}
select {
	border:1px solid #789fbe;
	width:60%;
	text-align:center;
}
option {
	text-align:center;
}
table {
	border-collapse: collapse;
	border-bottom:1px solid #8b8b8b;
	border-right:1px solid #8b8b8b;
}
tr {
	background:#ededed;
}
/* Zebra striping */
#tab_view tr:nth-of-type(1), #tab_view tr:nth-of-type(5), #tab_view tr:nth-of-type(9), #tab_view tr:nth-of-type(11) {
	background: #dedcdd;
}
/*tr:odd{
	background: #dedcdd; 
}*/
th {
	background: #444444;
	color: #fff;
	font-weight:normal;
	font-size:14px;
	text-align:center;
	border: 1px solid #8b8b8b;
	padding: 0;
	height:42px;
	line-height:42px;
}
td {
	border-left: 1px solid #8b8b8b;
	border-right: 1px solid #8b8b8b;
	text-align: center;
	height:42px;
	line-height:42px;
	font-size:14px;
}
.no_padding {
	padding:0!important;
}
.strong_text {
	color:#333;
	font-weight:bold;
}
.bold_text {
	color:#8b8b8b;
	font-style:italic;
	font-weight:bold;
}
/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix {
	clear:both;
	line-height:0;
	font-size:0;
}
/************************************************************************************
PAGE WRAPPER
*************************************************************************************/
#pagewrap {
	width:940px;
	min-height:530px;
	/*width:74%;*/
	padding:0 10px;
	margin:0 auto 20px;
}
/************************************************************************************
HEADER
*************************************************************************************/
header {
	padding:0;
	margin:0;
	position:relative;
}
.logo {
	background:url(logo.png) no-repeat center 0;
	height:154px;
	display:block;
	text-indent:-20000px;
	margin:0 auto;
	width:330px;
}
.top_link {
	padding:0;
	margin:0;
	position:absolute;
	right:20px;
	top:10px;
	z-index:100;
}
.top_link ul {
	padding:0;
	margin:0;
}
.top_link ul li {
	padding:0 0 0 10px;
	margin:0;
	float:left;
}
.top_link ul li a {
	float:left;
}
.top_link ul li a:hover {
	color:#ff7200;
}
.top_link ul li a.signout {
	background:url(icon_1.png) no-repeat 0 0;
	padding:0 0 0 20px;
}
.top_link ul li a.acc_settings {
	background:url(icon_2.png) no-repeat 0 0;
	padding:0 0 0 20px;
}
/* ------------------------  navigation ------------------------- */
#nav {
	padding:20px 0 0 0;
	margin:0;
	line-height: 100%;
}
#nav li {
	float:left;
	margin:0 18px;
	line-height:54px;
	height:54px;
	position: relative;
}
#nav li a {
	float:left;
	font-size:22px;
	line-height:54px;
	height:54px;
	padding:0 0 0 58px;
	color:#e6e6e6;
}
#nav li:hover a, #nav li a.active {
	color:#444444;
}
#nav li.search a {
	background:url(nav_logo1.png) no-repeat 0 0;
}
#nav li.search:hover a, #nav li.search a.active {
	background:url(nav_logo1_h.png) no-repeat 0 0;
}
#nav li.trade a {
	background:url(nav_logo2.png) no-repeat 0 0;
}
#nav li.trade:hover a, #nav li.trade a.active {
	background:url(nav_logo2_h.png) no-repeat 0 0;
}
#nav li.performance a {
	background:url(nav_logo3.png) no-repeat 0 0;
}
#nav li.performance:hover a, #nav li.performance a.active {
	background:url(nav_logo3_h.png) no-repeat 0 0;
}
#nav li.research a {
	background:url(nav_logo4.png) no-repeat 0 0;
}
#nav li.research:hover a, #nav li.research a.active {
	background:url(nav_logo4_h.png) no-repeat 0 0;
}
#nav li.notifications a {
	background:url(nav_logo5.png) no-repeat 0 0;
}
#nav li.notifications:hover a, #nav li.notifications a.active {
	background:url(nav_logo5_h.png) no-repeat 0 0;
}
/* ---------------- for tiny nav ------------------- */
.tinynav {
	display: none;
}
#nav .selected a, #nav2 .selected a {
}
/* styles for mobile */
@media screen and (max-width: 768px) {
.tinynav {
	display: block;
}
#nav, #nav2 {
	display: none;
}
}
#tinynav1 {
	width:96%;
	padding-top:4px;
	height:31px;
	line-height:22px;
	border:none;
	background:transparent;
	outline:none;
	text-decoration:none;
	font-size:15px;
	background:transparent;
	-webkit-appearance: none;
	margin-top:22px;
	color:#444;
	border:1px solid #f2f2f2;
}
#tinynav1 option {
	background:#fff;
	border:none;
	color:#666;
	padding:5px 0;
	line-height:24px;
	margin:0 10px;
	border-bottom:1px solid #f1f1f1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:14px;
}
#tinynav1 option:hover {
	background:#006600;
}
/* -----------------------------  search ------------------------------- */

.search_cont {
	padding:25px 0 0 0;
	margin:0;
}
.search_cont_l {
	font-size:15px;
	float:left;
	width:45%;
	line-height:32px;
}
.search_cont_r {
	width:48%;
	float:right;
}
.search_cont input[type="text"], input[type="search"] {
	width:285px;
}
/* ------------- search section ---------------- */
.search_section{
	padding:40px 0 0 0;
}
#search_form{
	width:33%;
	margin:0 auto;
}
#search_form input[type="text"]{
	width:98%!important;
	margin:5px 0;
	padding-left:1%;
	padding-right:1%;
}
#search_form input[type="button"], #search_form input[type="submit"]{
	margin:15px auto 0;
	width:36%;
	display:block;
}
.or_bg{
	display:block;
	height:36px;
	background:url(or_img.png) no-repeat center center;
}

/* -------------  search result section ------------ */

.search_result {
	padding:20px 0 0 0;
}
.show_arrow {
	height:37px!important;
	line-height:37px!important;
}
.show_arrow a {
	background:url(arrow_up.png) no-repeat 0 0;
	display:block;
	width:17px;
	height:18px;
	text-indent:-10000px;
	float:left;
	margin:8px 0 0 10px;
}
.show_arrow a.selected {
	background:url(arrow_down.png) no-repeat 0 0;
}
#hidden_div td {
	padding-left:10px!important;
}
.table_row_show {
	width:100%;
}
.hide_show {
	background:none;
}
.col_first {
	width:16.7%;
	float:left;
}
.col_first li {
	height:36px;
	line-height:36px;
	border-bottom:1px solid #d2d6d4;
}
.col_second {
	width:64%;
	padding:10px 0 0 0;
	float:left;
	border-left:1px solid #d5d7d4;
	border-right:1px solid #d5d7d4;
}
.col_second img {
	margin:0 0 0 10px;
	display:block;
}
.col_third {
	width:16%;
	padding-left:10px;
	float:left;
}
.col_third li {
	height:36px;
	line-height:36px;
	border-bottom:1px solid #d2d6d4;
}
.img_chart {
	float:left;
}
.view_left {
	float:right;
	width:200px;
	margin-right:10px;
	margin-top:170px;
}
.view_left a {
	color:#000000;
	text-decoration:underline;
}
.view_left a:hover {
	text-decoration:none;
}
#tab_view {
	width:97%;
}
#tab_view select {
	background:url(arrow_nav_1.png) no-repeat right 0 #fff;
}
/* -----------------------  footer starts ---------------------- */
.footer {
	background: url(footer_bg.png) no-repeat center 0 #e8e8e8;
	padding:20px 0 50px;
	margin-top:40px;
	text-align:center;
	position:relative;
	width:100%;
}
/* -------------------------------  trade section -----------------------------  */

.trade_section {
	padding:50px 0 0 0;
	margin:0;
}
#trade_form {
	padding:0;
	margin:0 auto;
	width:50%;
}
#trade_form .row_form {
	padding:0 0 7px 0;
}
#trade_form .row_form label {
	float:left;
	width:29%;
	font-size:15px;
	line-height:30px;
}
#trade_form .row_form input[type="text"] {
	width:68%;
	padding:0 1%;
	float:left;
	text-align:left;
	color:#797979;
}
#trade_form .row_form select {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
	background:url(arrow_select.png) no-repeat right center #fff;
	border:1px solid #dedede;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:22px;
	line-height:22px;
	font-size:15px;
	color:#bbb;
	outline:none;
	padding:4px 1%;
	width:68%;
	float:left;
	text-align:left;
	color:#797979;
}
#trade_form .row_form option{
	text-align:left;
}
#trade_form .button_row {
	padding:10px 0 0 29%;
}
#trade_form .row_form input[type="submit"], #trade_form .row_form input[type="button"] {
	width:40%;
}
.red_button {
	background-color:#642626!important;
}
.grey_text {
	color:#797979;
}
/* ----------------- pagination starts -------------------  */
.pagination {
	padding:20px 0 0 0;
	margin:0;
}
.pagination ul {
	padding:0;
}
.pagination li {
	float:left;
	margin:0 3px 3px;
}
.pagination li a {
	font-size:14px;
	color:#797979;
	text-decoration:none;
	background-color:#f1f1f1;
	float:left;
	padding:5px 7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.pagination li a:hover, .pagination li a.active {
	color:#fff;
	background-color:#444444;
}
/* ----------------- pagination ends -------------------  */

/* -----------------  modal -------------------- */

#basic-modal-content {
	display:none;
}
/* Overlay */
#simplemodal-overlay {
	background-color:#fff;
}
/* Container */
#simplemodal-container {
	height:auto!important;
	top:180px!important;
	width:30%!important;
	color:#444;
	background-color:#fff;
	border:2px solid #909090;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:12px 12px 24px;
}
#simplemodal-container .simplemodal-data {
	padding:8px;
}
#simplemodal-container code {
	background:#141414;
	border-left:3px solid #65B43D;
	color:#bbb;
	display:block;
	font-size:12px;
	margin-bottom:12px;
	padding:4px 6px 6px;
}
#simplemodal-container a {
	color:#ddd;
}
#simplemodal-container a.modalCloseImg {
	display:none;
}
#simplemodal-container .simplemodal-wrap a.modalCloseImg {
	cursor: pointer;
	color:#bbbbbb!important;
	background:#642626!important;
	background-color:#642626!important;
	text-shadow:1px 1px #000;
	height:30px;
	line-height:30px;
	padding:0 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #444444;
	font-size:15px;
	display:block!important;
	float:left;
	width:30%;
	text-align:center;
	margin-left:5px;
}
#simplemodal-container h3 {
	color:#84b8d9;
}
#simplemodal-container .placeholder_confirm {
	width:60%;
	margin:0 auto;
	color:#444;
	font-size:16px;
	line-height:24px;
}
#simplemodal-container h2 {
	text-align:center;
	font-size:26px;
	padding:0 0 20px 0;
	margin-bottom:20px;
	border-bottom:1px solid #444;
}
#simplemodal-container .placeholder_confirm .modal_row {
	padding:0 0 16px 0;
}
#simplemodal-container .placeholder_confirm .modal_row label {
	float:left;
	width:70%;
	font-size:16px;
	line-height:24px;
}
#simplemodal-container .placeholder_confirm .button_row {
	width:100%;
}
#simplemodal-container .placeholder_confirm .button_row input[type="submit"], #simplemodal-container .placeholder_confirm .button_row input[type="button"] {
	width:46%;
	float:left;
}

/* ----------  confirmation text -------  */
.confirmation_alert{ 
	background-color:#62d580;
	color:#000!important;
	font-weight:bold;
	padding:0 0 0 5px;
}
.confirmation_alert p{
	color:#000!important;
	font-weight:bold;
	width:90%;
	float:left;
	padding:0;
	margin:0;
	line-height:23px;
}
.confirmation_alert .cross{
	background:url(cross.png) no-repeat 0 center;
	height:23px;
	width:15px;
	float:right;
	text-indent:-20000px;
}

/* ----------  confirmation text -------  */
.decline_alert{ 
	background-color:#ed747a;
	color:#000!important;
	font-weight:bold;
	padding:0 0 0 5px;
}
.decline_alert p{
	color:#000!important;
	font-weight:bold;
	width:90%;
	float:left;
	padding:0;
	margin:0;
	line-height:23px;
}
.decline_alert .cross{
	background:url(cross.png) no-repeat 0 center;
	height:23px;
	width:15px;
	float:right;
	text-indent:-20000px;
}


/* ---------------  notification ------------------  */
.msg_cont{
	/*width:330px;*/
	position:absolute;
	left:-165px;
	top:-5px;
}
.msg_cont .icon{
	background:url(icon1.png) no-repeat 0 0!important;
	width:26px!important;
	line-height:26px!important;
	display:block!important;
	height:26px!important;
	text-align:center!important;
	color:#fff!important;
	font-size:12px!important;
	text-decoration:none!important;
	left:198px!important;
	top:0!important;
	position:absolute!important;
	padding:0!important;
	cursor:pointer;
}
.msg_cont #hidden_div{
	padding-top:11px;
	width:330px;
	position:relative;
	top:25px;
}
.msg_cont .arrow{
	background:url(arrow_top.png) no-repeat 0 0;
	height:11px;
	width:21px;
	position:absolute;
	top:1px;
	left:200px;
	z-index:10;
	display:block;
}
.msg_cont .show_hide_box{
	background-color:#fff;
	border:1px solid #bcbcbc;
	padding:25px 0;
	
}
.msg_cont .rpt_row{
	border-top:1px solid #dadada;
	padding:10px;
	color:#656565;
	font-size:12px;
	line-height:18px;
	text-align:justify;
}
.msg_cont .rpt_row p{
	padding:0 0 5px 0;
	margin:0;
	
}
.msg_cont .rpt_row h3{
	font-weight:bold;
	padding:0 0 5px 0;
	margin:0;
	color:#000;
}
.responsive_notify{
	visibility:hidden;
}
	
/* ---------------------  accordion menu -------------------------  */
.listing {
}
.listing li {
	display:block;
	height:75px;
	width:100%;
	background:url(nav_bg_h.png) repeat-x 0 0;
}
.listing li a {
	text-align:center;
	height:75px;
	line-height:75px;
	width:94%;
	margin:0 3%;
	font-size:24px;
	text-shadow: 0px 1px 2px #0a0a0a;
	filter: dropshadow(color=#0a0a0a, offx=0, offy=1);
	color:#db161e;
	background:url(nav_normal.png) no-repeat right center;
	display:block;
	text-align:left;
}
.listing li a:hover {
	color:#db161e;
	background:url(nav_hover.png) no-repeat right center;
}
.listing li:hover {
	background:url(nav_bg_h.png) repeat-x 0 0;
}
.title_details {
	color:#d71921;
	background:url(title_details.png) repeat-x 0 0;
	line-height:70px;
	height:71px;
	width:100%;
}
.arrow_nav {
	background:url(nav_normal.png) no-repeat right center;
	display:block;
}
.arrow_nav:hover {
	display:block;
}
.arrow_nav_none {
	background:url(nav_arrow.png) no-repeat right center;
	display:block;
}
.arrowlistmenu li{
	background-color:#444;
	margin-bottom:5px;
}
.arrowlistmenu a {
	display:block;
	height:75px;
	width:90%;
	padding:0 0 0 38px;
	background:url(arrow_accordion.png) no-repeat 5px center;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#fdfdfd;
	display:block;
	text-align:left;
}
.arrowlistmenu a:hover {
	color:#fdfdfd;
}
.arrowlistmenu .menuheader {
	cursor: pointer;
}
.arrowlistmenu .openheader { /*CSS class to apply to expandable header when it's expanded*/
	background:url(arrow_accordion_open.png) no-repeat 5px center;
	margin-right:3%;
}

.arrowlistmenu .openheader span.arrow_nav, .arrowlistmenu .closeheader span.arrow_nav {
	background:none!important;
}
.arrowlistmenu ul { /*CSS for UL of each sub menu*/
}
.arrowlistmenu ul li {

}
.arrowlistmenu ul li a {
}
.arrowlistmenu ul li a:visited {
}
.arrowlistmenu ul li a:hover { /*hover state CSS*/
}
.sublisting {
}
.sublisting li {
	display:block;
	height:55px;
	width:100%;
}
.sublisting li a {
	text-align:center;
	height:55px;
	line-height:55px;
	width:100%;
	padding:0!important;
	margin:0;
	font-size:20px;
	color:#fff;
	background-color:#444;
	display:block;
	text-align:left;
	text-shadow:none;
	font-size:18px!important;
	font-weight:bold;
}
.sublisting li a:hover {
	color:#fff;
}
.sublisting li a span {
	display:block;
	width:80%;
	margin-left:60px!important;
}
.sublisting li:hover {
	background:url(subnav_bg_n.png) repeat-x 0 bottom;
}
#tab_view_accordion {
	width:100%;
	margin-bottom:5px;
}
.research_cont{
	padding-top:10px;
}
.research_cont h2{
	font-size:26px;
	color:#8b8b8b;
	line-height:35px;
	padding-bottom:15px;
}
/* Zebra striping */
#tab_view_accordion tr:nth-of-type(1), #tab_view_accordion tr:nth-of-type(3), #tab_view_accordion tr:nth-of-type(5), #tab_view_accordion tr:nth-of-type(7) {
	background: #dedcdd;
}

.green_head{
	background-color:#788569;
	padding:10px 0 10px 10px;
	line-height:18px;
	margin:0;
	color:#fff;
	font-weight:bold;
}
.tab_rear_bg{
	background:url(bg_table.png) repeat 0 0;
	border-left:1px solid #8B8B8B;
	border-right:1px solid #8B8B8B;
}
#tab_view_rearfront{
	border-right:none;
	width:70%;
	margin:0 auto;
}
#tab_view_rearfront td{
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	border:none!important;
	background-color:#ededed;
}
#tab_view_rearfront th {
	background: #dedcdd;
	padding:0;
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	border:none!important;
	color:#444;
}

/* -- performance -- */
#tab_view_performance {
	width:100%;
	margin-bottom:5px;
}

/* Zebra striping */
#tab_view_performance tr:nth-of-type(odd){
	background: #dedcdd!important;
}
.green_txt{
	color:#068a03!important;
	font-weight:bold;
}
.red_txt{
	color:#ff0000!important;
	font-weight:bold;
}
.performance_cont {
	padding:30px 0 0 0;
}

/*  chart */
.chart{
	padding:10px 0 0 0;
}
.chart_left{
	float:left;
	width:31%;
	margin-bottom:10px;
}
.chart_rgt{
	float:right;
	width:69%;
}
.chart_left label{
	width:33%;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#788569;
	border:1px solid #8b8b89;
	color:#fff;
	float:left;
}
.chart_value{
	float:left;
	border:1px solid #8b8b89;
	background-color:#dedcdd;
	width:130px;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#444;
}
.chart1{
	width:46%;
	float:left;
}
.chart1 p{
	text-align:right;
	color:#000;
	font-weight:bold;
}
.chart2{
	width:46%;
	float:right;
}
.chart2 p{
	text-align:right;
	color:#000;
	font-weight:bold;
}

/* -----------  login css ---------  */
.login_section{
	padding:40px 0 0 0;
}
.login_title{
	font-size:26px;
	color:#444;
	line-height:52px;
	padding:0 0 0 58px;
	margin-bottom:15px;
	background:url(login_title.png) no-repeat 0 center;
}
#login_cont{
	width:33%;
	margin:0 auto;
}
#login_form{
	padding:0 0 0 60px;
}
#login_form input[type="text"], #login_form input[type="password"]{
	width:98%!important;
	margin:5px 0;
	padding-left:1%;
	padding-right:1%;
}
#login_form input[type="button"], #login_form input[type="submit"]{
	margin:15px 0 0;
	width:40%;
	display:block;
}

